<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Farmer <%= farmer.name %> Details</title>
	<link rel="stylesheet" href="">
</head>
<body>
  <h1>Farmer <%= farmer.name %>'s Details</h1>
  <%if (msg !== '') {%>
    <h4 style="color:red"> <%= msg %></h4>
  <% } %>
	<table border=1>
  <tr>
    <th>ID:</th>
    <td><%= farmer.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= farmer.name %></td>
  </tr>
  <tr>
    <th>Address:</th>
    <td><%= farmer.address %></td>
  </tr>
  <tr>
    <th>Crops List:</th>
    <td>
      <ol>
        <% crops.forEach(crop => { %>
        <li> <%= crop.name %> (<%= crop.FarmerCrop.size %> m<sup>2</sup>)</li>
        <% })%>
      </ol>
    </td>
  </tr>
</table>
<h4><a href="/farmers/<%= farmer.id %>/edit-data" "email me">edit personal data</a></h4>
<h4><a href="/farmers/<%= farmer.id %>/edit-crops" "email me">change crops</a></h4>
</body>
</html>

