<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= farmer.nameWithFarmer() %>'s Crops</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Change your crops distribution</h1>
	<%if (msg !== '') {%>
		<h4 style="color:red"> <%= msg %></h4>
	<% } %>
	<h4>Name: <%= farmer.name %></h4>
	<h4>Empty Area: <%= farmer.area %> m<sup>2</sup></h4>
	<h4>Money: Rp. <%= farmer.money.toLocaleString() %></h4>
	<h4>Crops List:</h4>
	<table border=1>
		<thead>
			<tr>
				<th>No.</th>
				<th>Crop Name</th>
				<th>Current Size</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% let counter = 1; %>
			<% farmerCrops.forEach(crop => { %>
				<tr>
					<td><%= counter %></td>
					<td><%= crop.name %></td>
					<td><%= crop.FarmerCrop.size %> m<sup>2</sup></td>
					<td><a href="/farmers/<%= farmer.id %>/edit-crops/<%= crop.id %>">Change | </a><a href="/farmers/<%= farmer.id %>/remove-crop/<%= crop.id %>" "email me">Remove</a></td>
				</tr>
			<% counter++ %>
			<% })%>
		</tbody>
	</table>
	<br>
	<hr></hr>
	<h4>Add New Crop</h4>
	<form action="/farmers/<%= farmer.id %>/add-crop" method="post" accept-charset="utf-8">
		<select name="cropId">
			<% newCrops.forEach(crop => { %>
			<option value="<%= crop.id %>"><%= crop.name %></option>
			<% })%>
  	</select>
  	Size: <input type="integer" name="size" size=5> m<sup>2</sup></td>
  	<input type="submit" value="Add">
	</form>
	<br><br>
	<a href="/farmers/<%= farmer.id %>" >Back</a>
</body>
</html>


